* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Sawarabi Gothic", sans-serif;
}

.main-visual {
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}

.is1 {
    padding: 30px;
}

.is2 {
    padding: 30px;
}
section {
    position: relative;
}

.about {
    background-color: #ff7b37;
    padding: 30px;
    position: relative;
   
}
.medichann {
   position: absolute;
   bottom: -50px;
   left: 50px;
}


.text {
    
    color: rgb(255, 255, 255);
}

.Medicalis {
    
    color: rgb(0, 0, 0);
}
.text {
    padding: 30px;
    
}


.FEATURES {
    background-color: #308047;
    padding: 30px;
    color: rgb(255, 255, 255); 
}
.yellow-brown{
    margin-right: 1rem;
}

.medical-id-is{
    padding: 30px;
}

.logo{
    width: 80%;
    height: auto;
}

.section-no2 {
    font-size: 1.5rem;
} 
.kokoha {
    font-size: 1.8rem;
    font-weight: bold;
} 
.itumo {
    font-size: 50rem;
    font-weight: bold;
} 
.no1{
    text-align: center;
    margin-top: 5rem;
}

.no2{
    justify-content: center;
    display: flex;
    margin-top: 5rem;
}

.no3{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

.no4{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    width: 100%;
    height: auto;
}


.no5{
    display: flex;
    margin-top: 8rem;
    justify-content: center;
    width: 100%;
    height: auto;
}

.img2 {
    width: 50%;
    height: auto;
}

.img3 {
    width: 50%;
    height: auto;
}
.how-to-use  {
    background-color: #ffffff;
    padding: 30px;
}

.FAQ　{
    padding: 30px;
}

#btn-open,
#btn-close {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  /* background: #dc143c;コマンドスラッシュ */
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  
}
.material-symbols-rounded {

    font-size: 35px;
}
#btn-close {
  z-index: 300;
}

#menu {
  background: rgba(46, 139, 87,0.8);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  visibility: hidden;
  opacity: 0;
}

#menu ul {
  list-style: none;
  padding: 1rem 0;
}

#menu li {
  text-align: center;
  padding: 1rem 0;
  opacity: 0;
}

#menu a {
  color: #FFF;
  text-decoration: none;
  transition: color .5s;
}

#menu a:hover {
  color: #666;
}

.pagetop {
    position:fixed;
    bottom: 20px;
    right:20px;
}

.positionfix {
    position:fixed;
    bottom: 20px;
    right:20px;
    
}

.positionfix a {
    color: #000;
}

@media screen and (max-width: 640px) {
  #gallery {
    grid-template-columns: 1fr;
    
  }
  #Profile {
    grid-template-columns: 1fr;
    
  }
  }

/* コンピューター用 */
@media screen and (min-width: 1000px) {

    .body-wrapper{
       max-width: 1200px;
       margin: 0 auto;
       }

    .wrapper{
        display: flex;
        justify-content: center;
       }

    .medical-id-is {
        display: flex;
    }

    .medical-id-is.no02 {
        flex-direction: row-reverse;
    }
    .box{
        width: 33.333%;
    }
}


  